:root {
    --heritage-blue: #002D72;
    --medium-blue: #0077D8;
    --spirit-blue: #68ACE5;
    --gold: #F1C400;
    --salmon: #E8927C;
    --sable: #31261D;
    --double-black: #000000;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--sable);
}

a{
    color: var(--spirit-blue);
}

h1,
h2,
h3,
h4,
h5,
h6,
nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.site-header {
    position: fixed;
    display: flex;
    align-items: center;
    height: 64px;
    width: 100%;
    background: white;
    padding: 0 5%;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: height 0.5s;
    z-index: 1000;
}

.site-header.shrink {
    height: 48px;
}

button {
    font-size: 28px;
    background: none;
    border: none;
    color: var(--medium-blue);
    cursor: pointer;
}

.menu-toggle {
    display: none;
    /* hide hamburger on wide screens */
}

.site-header nav {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5%;
    height: 100%;
    transition: height 0.2s;
}

.site-header nav.hide {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
}

.site-header nav * {
    padding: 0 10px;
    text-decoration: none;
    color: var(--sable);
}

.site-header nav .current {
    color: var(--spirit-blue);
}

.site-header * {
    max-height: 80%;
}

.search-toggle {
    display: flex;
    position: relative;
}

.search-container {
    opacity: 0;
    transition: opacity 0s;
}

.search-container.show {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5%;
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.search-input {
    display: flex;
    position: relative;
    right: 5%;
    width: 200px;
    padding: 5px;
    border: none;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: radial-gradient(circle at top right, rgba(255, 255, 255, 0) 20%, rgba(1, 77, 183, 0.9) 100%),
        url('images/Kyle_Paper_Lt-scaled.jpg');
    background-size: cover;
    color: white;
    padding: 100px 10%;
    gap: 5%;
    text-align: left;
}

.hero img {
    max-width: 40%;
}

.content-section {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 10%;
}

.content-section h4 {
    color: var(--gold);
}

.content-section .research-area,
.content-section .person,
.content-section .resources,
.content-section .publications {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.content-section .publications {
    align-items: top;
    padding: 20px 0 100px 0;
}

#resources {
    background-color: #EDEFFA;
    background-size: cover;
    margin: 0;
}

#publications {
    background-color: #0C4A7C;
    background-size: cover;
    color: white;
    margin: 0;
}

#resources h1{
    margin: 0;
    padding: 20px 0;
}

#publications h1 {
    margin: 0;
    padding: 0;
}

.content-section .carousel {
    display: grid;
    width: 40%;
}

.content-section .carousel .slide {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: minmax(0, 1fr);  /* allow grid to shrink below content size */
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

.content-section .carousel .slide.show {
    opacity: 1;
    visibility: visible;
}

.content-section .carousel .slide .slide-fig {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
}

.content-section .carousel .slide .caption {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.content-section .carousel .prev {
    grid-column: 1;
    grid-row: 1;
    width: 10%;
    margin-left: 0;
    opacity: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0));
}

.content-section .carousel .prev:hover {
    opacity: 1;
}

.content-section .carousel .next {
    grid-column: 1;
    grid-row: 1;
    width: 10%;
    margin-left: auto;
    opacity: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0));
}

.content-section .carousel .next:hover {
    opacity: 1;
}

/* The dots/bullets/indicators */
.content-section .carousel .dots {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.show {
    background-color: var(--sable);
}

.content-section .portrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.content-section .portrait img {
    width: 100%;
    border-radius: 5%;
}

.content-section .research-text,
.content-section .resources-container,
.content-section .publications-container {
    display: block;
    width: 60%;
    height: auto;
    padding: 0 20px;
}

.content-section .publications-container.left {
    width: 40%;
    padding: 0 0 0 20px;
    box-sizing: border-box;
}

.content-section .person-text {
    width: 70%;
    height: auto;
    padding: 0 20px;
}

.content-section .resources-container img {
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top right, rgba(1, 77, 183, 0.5) 0%, rgba(255, 255, 255, 0) 100%),
        url('images/Kyle_Paper_Lt-scaled.jpg');
    background-size: cover;
    padding: 100px 10%;
    margin: 0;
    max-width: 1200px;
    text-align: left;
}

.contact .contact-icon {
    font-size: 48px;
    color: white;
    background: var(--medium-blue);
    width: 100px;
    height: 100px;
    line-height: 100px;   /* vertically centers the character inside the circle */
    text-align: center;
    border-radius: 50%;    /* square -> circle */
    margin-right: auto;
}

.contact .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 100%;
    text-align: left;
}

.contact .contact-container .contact-text {
    width: auto;
    color: var(--heritage-blue);
}

.contact h1 {
    color: white;
}

.contact .contact-link {
    color: white;
}

footer {
    margin: 0;
    padding: 0;
    gap: 0;
    width: 100%;
}

footer .subfooter {
    margin: 0;
    background-color: #222222;
    color: white;
    padding: 50px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

footer .footer {
    background-color: #171717;
    padding: 10px 10%;
}

footer .subfooter-text {
    width: 100%;
}

footer .subfooter p,
footer .footer p {
    margin: 0;
}

footer .subfooter a,
footer .footer a {
    color: white;
}

footer img {
    max-width: 20%;
}

@media (max-width: 1000px) {
    * {
        flex-direction: column;
    }

    img {
        width: 85%;
        max-width: 300px;
    }

    .site-header {
        position: relative;
        display: flex;
        padding: 10px 0;
        height: 100px;
    }

    .menu-toggle {
        display: flex;
        /* show hamburger on narrow screens */
    }

    .site-header nav {
        display: none;
        /* hide nav links on narrow screens */
        flex-direction: column;
        position: absolute;
        justify-content: center;
        top: 100px;
        left: 0;
        right: 0;
        width: 100%;
        background: white;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        height: auto;
        padding: 10px 0;
    }

    .site-header nav.open {
        display: flex;
        /* show nav links when menu is open */
        z-index: 1000;
    }

    .site-header nav.hide {
        padding: 0;
        height: 0;
        overflow: hidden;
    }

    .search-container.show {
        display: flex;
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: white;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    hr {
        width: 80%;
        margin: 40px auto;
        color: var(--spirit-blue);
    }

    .hero {
        padding: 110px 10%;
    }

    .content-section .carousel {
        width: 80%;
    }

    .content-section .carousel .slide .slide-fig {
        justify-self: center;
    }

    .content-section .carousel .prev,
    .content-section .carousel .next {
        width: 20%;
        opacity: 1;
    }

    .content-section .carousel .dots{
        flex-direction: row;
    }

    .content-section .research-text,
    .content-section .person-text,
    .content-section .resources-container,
    .content-section .publications-container {
        width: 100%;
        padding: 20px 0;
    }

    .content-section .portrait {
        width: 80%;
    }

    .content-section .resources-container .resources-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .content-section .resources-container img {
        width: 100%;
    }

    .content-section .publications-container.left {
        width: 100%;
        padding: 20px 0;
    }

    footer img {
        max-width: 40%;
    }
}